<footer class="topnav">
    <div class="footer=copyright">
        <div class="container">
            All Articles belong to <a href="https://wwww.theverge.com" target="_blank">the Verge</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>