<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Lil' Scrappy Network</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="https://github.com/MFernandez6/HW_18_Scraper_News" target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav>